% rebase('base.html')
<div class="container">
    <div class="myDiv">
        <form action="/vaccine" method="POST" id="new">
            <label>Name:</label>
            <input type="text" name="name" required>

            <label>Type:</label>
            <input type="text" name="type" required>

            <label>Stage: </label>
            <input type="text" name="stage" required>

            <label>Details: </label>
            <textarea name="info" form="new" rows="5" cols="50"></textarea>

            <input type="submit" value="SAVE">
        </form>
    </div>
</div>