% rebase('base.html')
<div class="container">
    <div class="myDiv">
        <form action="/update" method="POST" id="update">
            <label>Name:</label>
            <input type="text" name="name" value="{{vac['name']}}" readonly>

            <label>Type:</label>
            <input type="text" name="type" required value="{{vac['type']}}">

            <label>Stage: </label>
            <input type="text" name="stage" required value="{{vac['stage']}}">

            <label>Details: </label>
            <textarea name="info" form="update" rows="5" cols="50">{{vac['info']}}</textarea>

            <input type="submit" value="UPDATE">
        </form>
    </div>
</div>